<!-- Just the markdown from README, converted via web app to html. -->

<html>
  <head>
    <!-- Github ribbon -->
    <a href="https://github.com/amloewi/bug">
      <img
        style="position: absolute; top: 0; right: 0; border: 0;"
        src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67"
        alt="Fork me on GitHub"
        data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"
      >
    </a>

    <!-- Bootstrap -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!--<link href="home.css" rel="stylesheet">-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-1">

          <div class="row" style="position:relative">
            <div class="col-md-2" style="font-size:40px">
              <b>bug</b>
            </div>
            <div class="col-md-10" style="font-size:15px; position:absolute; bottom:10; left:80">
              <b>An insistent text message reminder service</b>
            </div>
          </div>

          bug reminds you of something, repeatedly, until you do it. Like a person would.
          <p>Because that's how things get done.

          <h3> Examples </h3>

          <div style="background:lightgrey; padding:10px" class="img-rounded">
          <div class="row">
            <div class="col-md-6">
              <b style="color:black; font-size:18px">Buy groceries for tomorrow!</b>
            </div>

            <div class="col-md-6">
              If you sent <b>bug</b> this text, it would be sent back to you every 30 minutes, 5 times.
              Those are the defaults.
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <b style="color:black; font-size:18px">Gym closes at 6 today 60 3</b>
            </div>

            <div class="col-md-6">
              You'd get this message 60 minutes apart, 3 times, because you gave <b>bug</b>
              instructions for both of those things.
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <b style="color:black; font-size:18px">Dinner with Paul at 8. 45</b>
            </div>

            <div class="col-md-6">
              Messages are 45 minutes apart, but there are still the default 5 of them.
              The period keeps <b>bug</b> from thinking '8' is an instruction, but
              you can use anything that's not a number.
            </div>
          </div>
        </div>

          <br>

          When you set a reminder, <b>bug</b> assigns it a name, like 'beetle', and sends you a
          message to tell you what that name is. You can use that name
          to stop the reminder, if you finish the thing you wanted to do (congratulations!) or
          cancel it, if you made a mistake.</b>
          <p>

          <br>
          <div class="img-rounded" style="background:lightgrey; padding:10px">
          <div class="row">
            <div class="col-md-6">
              <b style="color:black; font-size:18px">Did beetle/ Cancel ant</b>
            </div>

            <div class="col-md-6">
              This would stop jobs called 'beetle' and 'ant,' respectively.
              'Did' keeps a record of the reminder, while 'Cancel' doesn't.
            </div>
          </div>
        </div>
          <br>


        </div>
        <div class="col-md-3 col-md-offset-1">

          <div style="margin-top:100px"></div>

          <p style="font-size:20px">
           <b>Try it!</b>
          </p>

          <b>bug</b> is in the middle of development, so things are going to change, and also not always work.
          But if you'd like to give it a try, send your messages to
          <p><p>

          <p class="text-center" style="font-size:40px">
           <b>650.727.5900</b>
          </p>

          <p><p>
          and email me at <b>aloewi</b> ☃ <b>cmu.edu</b> if you have questions or problems.
          Oh, and call your mom.
          <p>

          <img src="../static/images/pillbug_gf_1.png" style="height:250px; width:250px">

        </div>
      </div>
    </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>
  </body>

</html>

<!--
<html>
  <h1>bug</h1>

  <p>An insistent SMS-based reminder service.</p>

  <p>The input string for bug is:</p>

  <p><strong>name of job">>, <message>, [, <minutes between reminders> [, <times message will be sent> ]]</strong></p>

  <p>With defaults on the last two, optional parameters being 30 minutes between reminders, and 5 repeated messages.</p>

  <p><strong>Ex:</strong> <em>Food, Go buy food!, 30, 4</em> # The job named "Food" will send you the message "Go buy food! 4 times, 30 minutes apart.</p>

  <p><strong>Ex:</strong> <em>Call, Call Shelly</em> # The job named "Call" will send you the message "Call Shelly" 5 times, 30 minutes apart, because those are the defaults on the paramaters.</p>

  <p>The name of the job is meant as an identifier by which the job can be cancelled, with 'Did <job>' but that feature has not yet been implemented.</p>

</html>
-->
